* {
    margin: 0px;
    padding: 0px;
}

.nt{
    display: flex;
    /* bottom: 243px; */
    /* top: auto; */
    left: 70px;
    flex-direction: column;
    justify-content: center;
}

.sh{
    width: 50% !important;
}

@media screen and (max-width:1024px) {
    
    .nt{
        left: 0px;
    }

    .sh{
        width: 100% !important;
    }
}