* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
    background-color: black;
    color: white;
}

.bg{
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    width: 100%;
    display: flex;
    font-weight: bold;
    position: fixed;
    /* margin-left: 25%; */
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 130px;
    margin-left: 15px;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: #aaa;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
    font-weight: bold;
    width: 110px;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #aaa;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-weight: bold;
    font-stretch: wider;
    width: 110px;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #191e25;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;

    background-color: #191e25;
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    box-sizing: border-box;
    border-radius: 0px 0px 10px 10px;
}
 
.dropdown-content li {
    text-decoration: none;
    list-style: none;
    width: fit-content;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.row {
    content: "";
    display: flex;
    clear: both;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;

}

.card {
    margin: 15px;
    height: 170px;
    width: 320px;
    display: inline-block;
    text-align: center;
    border-radius: 15px;
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px black;
    transition: 0.3s ease-in-out;
}

.card-container .card:hover {
    height: 355px;
    transform: scale(1.3);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card img {
    width: 320px;
    height: 170px;
    border-radius: 15px;
}

.card-container .card .content {
    margin-top: -100px;
    padding: 10px 15px;
    text-align: left;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.card-container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -10px;
    transition-delay: 0.3s;
}

.heading {
    margin-top: 25px;
    margin-left: 30px;
}

.headingv p {
    font-size: xx-large;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 25px;
}


.cardcontain {
    padding: 25px;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}

.slider {
    padding: 40px 40px 0px 40px;
}

.slider img {
    width: 35%;
    border-radius: 15px;
}

.sliderv {
    /* position: relative; */
    margin: 15px;
    height: 600px;
    width: 100%;
    display: inline-block;
    text-align: center;
    border-radius: 15px;
    background-color: beige;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pg {
    height: 10px;
    width: 10px;
    border-radius: 15px;
    border: none;
    opacity: 0.5;
    margin-left: 15px;
}

.pg:hover {
    opacity: 1;
}

.detail {
    display: flex;
    height: 100%;
    left: 16px;
    font-size: xxx-large;
    font-family: fantasy;
    justify-content: center;
    flex-direction: column;
}

.title {
    display: flex;
    align-items: center;
    margin-left: 50px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.subtitle {
    display: flex;
    align-items: center;
    margin-left: 50px;
    font-size: large;
    margin-top: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn {
    height: 50px;
    width: 150px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    margin: 15px 15px 15px 50px;
    font-size: large;
    display: inline;
}

.btn:hover {
    transform: scale(1.1);
}

.watchlist {
    height: 50px;
    width: 50px;
    padding: 15px;
    border: none;
    border-radius: 25px;
    display: inline;
    margin: 15px 15px 15px 0px;
    font-size: large;
    background-color: grey;
}

.watchlist:hover {
    transform: scale(1.1);
    background-color: white;
}

.wl {
    height: 50px;
    width: 50px;
    padding: 15px;
    border: none;
    border-radius: 25px;
    display: inline;
    margin: 15px 15px 15px 0px;
    font-size: large;
    background-color: grey;
}

.wl:hover {
    transform: scale(1.1);
    background-color: white;
}

.nt {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.my_bg {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(./tranformers.jpg);
    width: 100%;
    height: 100%;
    text-align: left;
    color: #fff;
    border-radius: 15px;
    background-position: right;
    background-size: cover;
}

.cardog {
    margin: 15px;
    height: 450px;
    width: 320.5px;
    display: inline;
    text-align: center;
    border-radius: 15px;
    background-image: url("./lambo.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px black;
    transition: 0.3s ease-in-out;
    align-items: center;

}

.cardog img {
    width: 330px;
    height: 450px;
    border-radius: 15px;
}

.card-container .cardog:hover {
    background-image: url("./tranformers.jpg");
    background-size: cover;
    width: 900px;
    transition: 0.3s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-container .cardog:hover img {
    width: 900px;
    transition: ease-in;
}

.card-container .cardog .content {
    margin-top: 220px;
    /* margin-left: 30px; */
    display: flex;
    left: 16px;
    font-size: xxx-large;
    font-family: fantasy;
    z-index: 1;
    flex-direction: column;
    padding: 10px 15px;
    text-align: left;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.card-container .cardog:hover .content {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.3s;
}

.cognt{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
}

.ogsubtitle{
    font-size: medium ;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25px;
    font-weight: bold;
}

.ogtitle{
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}