*{
    margin: 0%;
    padding: 0%;
}

.card-1{
    background: linear-gradient(
    to bottom,
    rgb(60, 78, 238) 0%,
    rgb(60, 78, 238) 25%,
    rgb(213, 245, 245) 25%,
    rgb(213, 245, 245) 100%
  );
}

#fErr,#eErr{
  color: red;
  font-size: medium;
  font-weight: bold;
}
